
@{
    ViewBag.Title = "Parametrización Actual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Parametrización Actual</h2>

<br />

<div id="Parametrizacion"></div>

@section Scripts {
    <link type="text/css" href="~/Content/Recharges.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/ConsSecond")
    @Scripts.Render("~/bundles/jquery")
}