
@{
    ViewBag.Title = "Saldo Actual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Saldo Actual</h2>
<br />
<div id="Saldo"></div>

@section Scripts {
    <link type="text/css" href="~/Content/Recharges.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/Inquiries")
    @Scripts.Render("~/bundles/jquery")
}